<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edu.fa7.memogame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp"
        tools:replace="android:icon">

        <meta-data android:name="DATABASE" android:value="record.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.edu.fa7.memogame" />

        <activity
            android:name=".Activity.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"/>
        <activity
            android:name=".Activity.MainScreenActivity"
            android:label="@string/title_activity_main_sreen"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity android:name=".Activity.ViewRecordActivity"/>
    </application>

</manifest>
